<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.evision.board.model.dao.BoardMapper">
	
	<sql id="boardColumn">
		SELECT 
		       BOARD_NO boardNo
		     , BOARD_TITLE boardTitle
		     , BOARD_WRITER boardWriter
		     , CREATE_DATE createDate
	</sql>
	
		<insert id="save" 
			parameterType="BoardVO">
			
		<selectKey keyProperty="boardNo" resultType="long" order="BEFORE">
			SELECT SEQ_BNO.NEXTVAL FROM DUAL
		</selectKey>
			
		INSERT 
		  INTO 
		       TB_BOARD
		VALUES 
			   (
			   #{boardNo}
			 , #{boardTitle}
			 , #{boardWriter}
			 , #{boardContent}
			 , DEFAULT
			 , DEFAULT
			 , DEFAULT
			   )
	</insert>
	
		<select id="findAll"
			resultType="BoardDTO">
		<include refid="boardColumn" />
		      , M.MEMBER_NAME memberName
    	   FROM 
        	    TB_BOARD B
    	   JOIN 
        	    TB_MEMBER M
        	 ON 
        	 	B.BOARD_WRITER = M.MEMBER_NO
    	  WHERE 
        	    B.STATUS = 'Y'
    	  ORDER 
    	  	 BY 
        	    B.BOARD_NO DESC
	</select>
	
	<!-- CLAUDE 사용 파일 첨부 버전
	<select id="findByBoardNo" resultType="BoardDTO">
    SELECT 
           b.BOARD_NO boardNo
         , b.BOARD_TITLE boardTitle
         , b.BOARD_WRITER boardWriter
         , b.BOARD_CONTENT boardContent
         , b.COUNT count
         , b.CREATE_DATE createDate
         , i.CHANGE_NAME imageUrl
         , i.ORIGIN_NAME originName
      FROM 
           TB_BOARD b
      LEFT 
      JOIN 
           TB_BOARD_IMG i 
        ON 
           b.BOARD_NO = i.IMG_NO 
       AND 
           i.STATUS = 'Y'
     WHERE 
           b.STATUS = 'Y'
       AND 
           b.BOARD_NO = #{boardNo}
</select>
-->
	
	<select id="findByBoardNo"
			resultType="BoardDTO"
			parameterType="long">
		<include refid="boardColumn" />
			 , BOARD_CONTENT boardContent
			 , COUNT count
		  FROM 
		       TB_BOARD
		 WHERE 
		       STATUS = 'Y'
		   AND 
		       BOARD_NO = #{boardNo}
	</select>
	
	<update id="update"
			parameterType="BoardDTO">
		UPDATE 
		       TB_BOARD
		   SET 
		       BOARD_TITLE = #{boardTitle}
		     , BOARD_CONTENT = #{boardContent}
		     , COUNT = #{count}
		 WHERE 
		       BOARD_NO = #{boardNo}
		   AND 
		       STATUS = 'Y'
	</update>
	
	<update id="deleteByBoardNo">
		UPDATE 
		       TB_BOARD
		   SET 
		       STATUS = 'N'
		 WHERE 
		       BOARD_NO = #{boardNo}
		       
	</update>
	
	<insert id="saveBoardImg"
			parameterType="ImgInfo">
				
	<selectKey keyProperty="imgId" resultType="long" order="BEFORE">
		SELECT SEQ_BINO.NEXTVAL FROM DUAL
	</selectKey>
			
		INSERT
		  INTO
		       TB_BOARD_IMG
		VALUES
		       (
		       #{imgId}
		     , SEQ_BINO.NEXTVAL
		     , #{originName}
		     , #{changeName}
		     , DEFAULT
		       )
	</insert>
	
	<!-- 조회수 증가 -->
<update id="incrementViewCount">
    UPDATE 
    	   TB_BOARD
       SET 
     	   COUNT = COUNT + 1
     WHERE 
           BOARD_NO = #{boardNo}
       AND 
       	   STATUS = 'Y'
</update>
		
</mapper>