<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.evision.car.model.dao.CarMapper">
	
	<insert id="saveCar"
			parameterType="CarVO">
		INSERT
		  INTO
		       TB_CAR
		VALUES
		       (
		       SEQ_CNO.NEXTVAL
		     , #{carName}
		     , #{carPlate}
		     , #{maxPassenger}
		     , #{color}
		     , DEFAULT
		     , SYSDATE
		     , #{carLocation}
		     , #{carBrand}
		       )
	</insert>
	
	<!-- sql 태그, resultMap(+ resultSet), selectKey 쓰는거 생각하기 -->
	
	<select id="findAll"
			resultType="CarDTO">
		SELECT
		       CAR_NO carNo
		     , CAR_NAME carName
		     , CAR_PLATE carPlate
		     , MAX_PASSENGER maxPassenger
		     , COLOR color
		     , STATUS status
		     , REGISTER_DATE registerDate
		     , CAR_LOCATION carLocation
		     , CAR_BRAND carBrand
		  FROM
		       TB_CAR
		 WHERE
		       STATUS = 'Y'
		 ORDER
		    BY
		       REGISTER_DATE DESC
	</select>
	
	<resultMap id="carResultSet" type="CarDTO">
		<id column="carNo" property="carNo" />
		<result column="carName" property="carName" />
		<result column="carPlate" property="carPlate" />
		<result column="maxPassenger" property="maxPassenger" />
		<result column="color" property="color" />
		<result column="registerDate" property="registerDate" />
		<result column="carLocation" property="carLocation" />
		<result column="carBrand" property="carBrand" />
		<collection property="imgs" ofType="ImgInfo">
			<id column="imgId" property="imgId" />
			<result column="originName" property="originName" />
			<result column="changeName" property="changeName" />
		</collection>
		<collection property="files" ofType="FileInfo">
			<id column="fileId" property="fileId" />
			<result column="originName" property="originName" />
			<result column="changeName" property="changeName" />
		</collection>
	</resultMap>
	
	<select id="findByCarNo"
			resultType="CarDTO"
			parameterType="long">
		SELECT
		       CAR_NO carNo
		     , CAR_NAME carName
		     , CAR_PLATE carPlate
		     , MAX_PASSENGER maxPassenger
		     , COLOR color
		     , STATUS status
		     , REGISTER_DATE registerDate
		     , CAR_LOCATION carLocation
		     , CAR_BRAND carBrand
		     , IMG_ID imgId
		     , I.ORIGIN_NAME imgOriginName
		     , I.CHANGE_NAME imgChangeName
		     , FILE_ID fileId
		     , F.ORIGIN_NAME fileOriginName
		     , F.CHANGE_NAME fileChangeName
		  FROM
		       TB_CAR C
		  LEFT
		  JOIN
		       TB_CAR_IMG I USING (CAR_NO)
		   AND
		       I.STATUS = 'Y'
		  LEFT
		  JOIN
		       TB_CAR_FILE F USING (CAR_NO)
		   AND
		       F.STATUS = 'Y'
		 WHERE
		       C.STATUS = 'Y'
		   AND
		       CAR_NO = #{carNo}
	</select>
	
</mapper>
