<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.evision.station.model.dao.StationMapper">
	<!-- ResultMap 정의 -->
    <resultMap id="StationResultMap" type="com.kh.evision.station.model.vo.StationVO">
        <id property="stationNo" column="STATION_NO"/>
        <result property="stationName" column="STATION_NAME"/>
        <result property="stationAddress" column="STATION_ADDRESS"/>
        <result property="stationType" column="STATION_TYPE"/>
        <result property="stationLng" column="STATION_LNG"/>
        <result property="stationLat" column="STATION_LAT"/>
        <result property="registerDate" column="REGISTER_DATE"/>
        <result property="status" column="STATUS"/>
        <result property="delStatus" column="DEL_STATUS"/>
    </resultMap>
    

    <resultMap id="ReviewResultMap" type="com.kh.evision.station.model.vo.ReviewVO">
        <id property="reviewNo" column="REVIEW_NO"/>
        <result property="stationNo" column="STATION_NO"/>
        <result property="reviewTitle" column="REVIEW_TITLE"/>
        <result property="reviewContent" column="REVIEW_CONTENT"/>
        <result property="status" column="STATUS"/>
        <result property="reviewDate" column="REVIEW_DATE"/>
        <result property="memberNo" column="MEMBER_NO"/>
    </resultMap>

    <!-- 충전소 검색 -->
    <select id="searchList" resultType="com.kh.evision.station.model.dto.StationDTO">
        SELECT 
	    	   STATION_NO stationNo
             , STATION_NAME stationName
             , STATION_ADDRESS stationAddress
             , STATION_TYPE stationType
             , STATION_LNG stationLng
             , STATION_LAT stationLat
             , REGISTER_DATE registerDate
             , STATUS 
             , DEL_STATUS
          FROM 
	     	   TB_STATION
       	 WHERE 
	     	   DEL_STATUS = 'Y'
           AND STATION_NAME LIKE '%' || #{keyword} || '%'
            OR STATION_ADDRESS LIKE '%' || #{keyword} || '%'
        ORDER BY REGISTER_DATE DESC
    </select>

    <!-- 충전소 등록 -->
    <insert id="save" parameterType="com.kh.evision.station.model.vo.StationVO">
        INSERT
          INTO 
          	   TB_STATION 
          	   (
               STATION_NO
             , STATION_NAME
             , STATION_ADDRESS
             , STATION_TYPE
             , STATION_LNG
             , STATION_LAT
             , REGISTER_DATE
             , STATUS
             , DEL_STATUS
        	 ) 
      VALUES (
             SEQ_SNO.NEXTVAL
           , #{stationName}
           , #{stationAddress}
           , #{stationType}
           , #{stationLng}
           , #{stationLat}
           , SYSDATE
           , DEFAULT
           , DEFAULT
             )
    </insert>

    <!-- 충전소 목록 보기 -->
    <select id="findAll" resultMap="StationResultMap">
        SELECT 
        	   STATION_NO
        	 , STATION_NAME
        	 , STATION_ADDRESS
        	 , STATION_TYPE
        	 , STATION_LNG
        	 , STATION_LAT 
             , REGISTER_DATE
             , STATUS
             , DEL_STATUS
          FROM 
        	   TB_STATION
         WHERE
               DEL_STATUS='Y'
        ORDER 
           BY 
               REGISTER_DATE DESC
    </select>

    <!-- 충전소 삭제 (논리 삭제) -->
    <update id="delete" parameterType="Long">
        UPDATE 
        	   TB_STATION
           SET 
           	   DEL_STATUS = 'N'
         WHERE 
         	   STATION_NO = #{stationNo}
    </update>

    <!-- 충전소 상세보기 -->
    <select id="stationDetail" resultType="com.kh.evision.station.model.dto.StationDTO">
        SELECT 
        	   STATION_NO stationNo
        	 , STATION_NAME stationName
        	 , STATION_ADDRESS stationAddress
        	 , STATION_TYPE stationType
        	 , STATION_LNG stationLng
        	 , STATION_LAT stationLat
        	 , REGISTER_DATE registerDate
        	 , STATUS status
        	 , DEL_STATUS delStatus
          FROM 
        	   TB_STATION
         WHERE 
         	   STATION_NO = #{stationNo}
           AND 
           	   DEL_STATUS = 'Y'
    </select>

    <!-- 충전소 리뷰 등록 -->
    <insert id="commentSave" parameterType="com.kh.evision.station.model.vo.ReviewVO">
        <selectKey keyProperty="reviewNo" resultType="Long" order="BEFORE">
            SELECT NVL(MAX(REVIEW_NO), 0) + 1 FROM TB_REVIEW
        </selectKey>
        INSERT 
          INTO 
          	   TB_REVIEW 
          	   (
               REVIEW_NO
             , STATION_NO
             , REVIEW_TITLE
             , REVIEW_CONTENT
             , STATUS
             , REVIEW_DATE
             , MEMBER_NO
               ) 
        VALUES (
               SEQ_RNO.NEXTVAL
             , #{stationNo}
             , #{reviewTitle}
             , #{reviewContent}
			 , DEFAULT
             , SYSDATE
             , #{memberNo}
        )
    </insert>

    <!-- 충전소 리뷰 수정 -->
    <update id="commentUpdate" parameterType="com.kh.evision.station.model.vo.ReviewVO">
        UPDATE 
        	   TB_REVIEW
           SET 
               REVIEW_TITLE = #{reviewTitle}
             , REVIEW_CONTENT = #{reviewContent}
         WHERE 
         	   REVIEW_NO = #{reviewNo}
           AND 
           	   STATION_NO = #{stationNo} 
    	   AND 
    	       MEMBER_NO = #{memberNo} 
           AND 
           	   STATUS = 'Y'
    </update>

    <!-- 충전소 리뷰 삭제 (논리 삭제) -->
    <update id="commentDelete" parameterType="Long">
        UPDATE 
        	   TB_REVIEW
           SET 
               STATUS = 'N'
         WHERE 
               REVIEW_NO = #{reviewNo}
    </update>

    <!-- 충전소별 리뷰 목록 조회 -->
    <select id="findReviewsByStationNo" resultMap="ReviewResultMap">
        SELECT 
        	   REVIEW_NO
        	 , STATION_NO
        	 , REVIEW_TITLE
        	 , REVIEW_CONTENT
        	 , STATUS
        	 , REVIEW_DATE
        	 , MEMBER_NO
          FROM 
          	   TB_REVIEW
         WHERE 
         	   STATION_NO = #{stationNo}
           AND 
           	   STATUS = 'Y'
         ORDER 
            BY
               REVIEW_DATE DESC
    </select>
	
</mapper>